<h2>Profil & Quiz-Ergebnisse</h2>

@if (quizService.results().length > 0) {
  <div>
    <ul>
      @for (res of quizService.results(); track res) {
        <li>
          Frage {{ res.questionId }}:
          <strong [style.color]="res.correct ? 'green' : 'red'">
            {{ res.correct ? 'Richtig' : 'Falsch' }}
          </strong> (Deine Antwort: {{ res.selectedAnswer }})
        </li>
      }
    </ul>
  </div>
} @else {
  <p>Du hast noch kein Quiz abgeschlossen.</p>
}


<app-navbar></app-navbar>
