<h2>Profil & Quiz-Ergebnisse</h2>

@if (quizService.results().length > 0) {
  <div>
    <ul>
      @for (res of quizService.results(); track res) {
        <li>
          Frage {{ res.questionId }}:
          <strong [style.color]="res.correct ? 'green' : 'red'">
            {{ res.correct ? 'Richtig' : 'Falsch' }}
          </strong> (Deine Antwort: {{ res.selectedAnswer }})
        </li>
      }
    </ul>
  </div>
} @else {
  <p>Du hast noch kein Quiz abgeschlossen.</p>
}


<div class="action-bar" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="16px">
  <button mat-icon-button ><mat-icon>alarm</mat-icon></button>
  <button mat-icon-button routerLink="/fasthelp"><mat-icon>help_outline</mat-icon></button>
  <button mat-icon-button routerLink="/study"><mat-icon>book</mat-icon></button>
  <button mat-icon-button routerLink="/profile"><mat-icon>account_circle</mat-icon></button>
</div>
